<!DOCTYPE html>
<html>
<head>
	<title>Car Survey</title>
<!-- meta tags go here -->
	<meta name="title" content="Car Survey" />
	<meta name="description" content="Test!">
	<meta name="author" content="Kenneth Lin">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- links go here -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	
</head>

<body>

	<div class="question-card-container">

		<!-- TODO: {% question-card.html %} -->
		<!-- {% include 'question-card.html' %} -->

		<div id="question-card">
			<form role="form" method="POST" onsubmit="return false;">

				<h1 id="question">{{question}}</h1>

				{% for choice in choice_list %}
				<input type="radio" name="choice" value="{{choice}}"> {{choice}}<br>
				{% endfor %}

				<button type="submit">Next</button>
			</form>
		</div>
	</div>

<!-- Scripts go below here -->
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/script.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/logic.js') }}"></script>
</body>
</html>