<!DOCTYPE html>
<html>
<head>
	<title>Car Survey</title>
<!-- meta tags go here -->
	<meta name="title" content="Car Survey" />
	<meta name="description" content="Test!">
	<meta name="author" content="Kenneth Lin">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- links go here -->
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	
</head>

<body>

	<div id="question-card">
		<h1>{{question}}</h1>
		<ul>
			{% for choice in choice_list %}
			<li>{{choice}}</li>
			{% endfor %}
		</ul>

	</div>

</body>
</html>